function pcsv {
    FILE=$1
    SEP=${2:-,}
    perl -pe 's/((?<='"$SEP"')|(?<=^))'"$SEP"'/ '"$SEP"'/g;' "$FILE" | column -t -s"$SEP" | less  -F -S -X -K
}

alias dc='docker-compose'
alias dev='cd ~/Dev'
alias code='dev'
alias clr='dev && cd ClearBlockchain/clear'
alias cleardata='cd ~/Dev/ClearBlockchain/data/work && rm -rf node1/data && rm -rf node2/data && cd -'
alias du='ncdu --color dark -rr'

